* {
    box-sizing: border-box;
    font-family: 'Chelsea Market';
}

body {
    background-color: #5a4242;
    transition: .1s ease;
}

body.sidescroller {
    background-color: #2a949f;
}

body.cave {
    background-color: #545130;
}

body.village {
    background-color: #78a50c;
}

h1, h2 {
    font-family: 'Chelsea Market';
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}