* {
    box-sizing: border-box;
}

body {
    background-color: #4b4b4b;
}

h1, h2 {
    font-family: 'Chelsea Market';
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}