/* header */

header h1 {
    color: white;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/* scene */

#scene {
    height: 480px;
    width: 100%;
}

#scene.sidescroller {
    background-image: url('../images/backgrounds/bg-sidescroll.png')
}

/* controls */

#controls {
    display: flex;
}

#controls > * {
    font-family: 'Chelsea Market';
    margin-right: 30px;
    width: 300px;
    text-align: center;
}

#controls > *:nth-child(3) {
    margin-right: 0;
}

#controls a {
    /* background-color: rgb(193, 240, 255); */
    padding: 1em;
}

#controls a,
#controls a:hover,
#controls a:active {
    color: black;
    text-decoration: none;
}

/* pieces container */

#pieces {
    display: flex;
}

#pieces aside {
    width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
    min-height: 300px;
}

#pieces aside:nth-child(3) {
    margin-right: 0;
}

.pieces-container {
    padding: 30px;
}

.piece:hover {
    cursor: move;
}