/* header */

header h1 {
    color: white;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/* scene */

#scene {
    height: 360px;
    overflow: hidden;
    width: 100%;
}

#scene.sidescroller {
    background-image: url('../images/backgrounds/sidescroller.png');
}

#scene.cave {
    background-image: url('../images/backgrounds/cave.png');
}

#scene.village {
    background-image: url('../images/backgrounds/village.png');
}

/* controls */

#controls {
    display: flex;
    justify-content: space-between;
}

#controls > * {
    display: block;
    width: 300px;
    text-align: center;
    text-align-last:center;
}

#controls a,
#controls select {
    font-size: 1em;
    padding: 1em;
}

#controls a,
#controls a:hover,
#controls a:active {
    color: black;
    padding-top: 1.2em;
    text-decoration: none;
}

#controls select {
    border: none;
    text-align: center;
}

/* pieces container */

#pieces {
    display: flex;
    justify-content: space-between;
}

#pieces aside {
    width: 300px;
    margin-bottom: 30px;
}

.pieces-container {
    padding: 30px;
}

.pieces-container h2 {
    margin-bottom: 1em;
    text-align: center;
}

.piece:hover {
    cursor: move;
}

#pieces .piece {
    max-width: 80px;
}

.flipped {
    transform: scaleX(-1);
}