/* fixed header and scene */

#scene {
    position: sticky;
    top: 0;
}

/* header */

header h1 {
    color: white;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/* scene */

#scene {
    background-image: linear-gradient(to right top, #ffffff, #f5f5f5, #ececec, #e2e2e2, #d9d9d9);
    height: 360px;
    overflow: hidden;
    width: 100%;
    transition: .1s ease;
}

.sidescroller #scene {
    background-image: url('../images/backgrounds/sidescroller.png');
}

.cave #scene {
    background-image: url('../images/backgrounds/cave.png');
}

.village #scene {
    background-image: url('../images/backgrounds/village.png');
}

#scene p {
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
}

/* controls */

#controls {
    display: flex;
    justify-content: space-between;
}

#controls > * {
    display: block;
    width: 300px;
    text-align: center;
    text-align-last:center;
}

#controls a,
#controls select {
    font-size: 1em;
    padding: 1em;
}

#controls a,
#controls a:hover,
#controls a:active {
    color: black;
    padding-top: 1.2em;
    text-decoration: none;
}

#controls select {
    border: none;
    text-align: center;
}

/* pieces container */

#pieces {
    display: flex;
    justify-content: space-between;
}

#pieces aside {
    width: 300px;
    margin-bottom: 30px;
}

.pieces-container {
    padding: 30px;
}

.pieces-container h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: .5em;
    padding-bottom: .5em;
    text-align: center;
}

.pieces-container li {
    margin-bottom: 1em;
    list-style: disc inside;
}

.piece:hover {
    cursor: move;
}

#pieces .piece {
    max-width: 80px;
}

.flipped {
    transform: scaleX(-1);
}