@media (max-width: 959px) {
    #pieces,
    #controls {
        flex-direction: column;
    }
    
    #pieces aside,
    #controls > * {
        margin-right: 0;
        width: 100%;
    }
}