@media (max-width: 959px) {
    /* header {
        background-color: #4b4b4b;
    }

    header,
    #scene {
        position: fixed;
        top: 0;
    }

    #controls {
        margin-top: calc(320px + 5em);
    } */

    #scene {
        height: 360px;
    }

    #pieces,
    #controls {
        flex-direction: column;
    }
    
    #pieces aside {
        margin-right: 0;
        width: 100%;
    }

    #controls > * {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
}